head
	title Yuyu
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
	link(rel='stylesheet', href='css/index.css', type='text/css')
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(type='text/javascript', src='js/libs/three.min.js')
	script(type='text/javascript', src='js/libs/cannon.min.js')
	script(type='text/javascript', src='js/libs/Detector.js')
	script(type='text/javascript', src='js/libs/stats.min.js')
	script(type='text/javascript', src='js/app.js')
	script(type='text/javascript', src='js/libs/FirstPersonControls.js')
	script(type='text/javascript', src='js/libs/ImprovedNoise.js')
